In [54]:
import numpy as np
import pandas as pd

In [59]:
def find_s_algorithm(df, target_column):
    hypothesis = df.drop(columns=[target_column]).iloc[0].copy()
    # Iterate through the DataFrame
    for index, row in df.iterrows():
        if row[target_column] == 1:
            for col in hypothesis.index:
                if row[col] != hypothesis[col] and hypothesis[col] != 'Ï†' and hypothesis[col] != '*':
                    hypothesis[col] = '?'  # Generalize the hypothesis
        else:
            # Skip negative examples
            continue

    return hypothesis

In [56]:
data_path = 'Datasets/Shuttle_Con/shuttle-landing-control.data'
names_path = 'Datasets/Shuttle_Con/shuttle-landing-control.names'

In [57]:
df = pd.read_csv(data_path, names = ['CLASS', 'STABILITY', 'ERROR', 'SIGN', 'WIND', 'MAGNITUDE', 'VISIBILITY'])
df = df.iloc[::-1].reset_index(drop=True)
df

    CLASS STABILITY ERROR SIGN WIND MAGNITUDE  VISIBILITY
0       2         1     3    1    2         3           1
1       1         1     3    1    1         3           1
2       2         1     3    1    2         2           1
3       2         1     3    1    2         1           1
4       2         1     3    1    1         2           1
5       2         1     3    1    1         1           1
6       2         1     4    *    *         3           1
7       2         1     4    *    *         2           1
8       2         1     4    *    *         1           1
9       1         *     *    *    *         4           1
10      1         1     3    2    2         *           1
11      1         1     1    *    *         *           1
12      1         1     2    *    *         *           1
13      1         2     *    *    *         *           1
14      2         *     *    *    *         *           2

In [60]:
target_column = 'CLASS'
hypothesis = find_s_algorithm(df, target_column)

In [61]:
hypothesis

STABILITY     ?
ERROR         ?
SIGN          ?
WIND          ?
MAGNITUDE     ?
VISIBILITY    1
Name: 0, dtype: object